:root {
  --main-color: #0e1d27;
  --secondary-color: #30a5bf;
  --secondary-color-hover: #1898b5;
  --yellow-color: #f2be22;
  --main-transition: 0.3s;
}
/* global */
.main-btn {
  display: block;
  width: fit-content;
  background-color: var(--secondary-color);
  border: none;
  padding: 7px 20px;
  border-radius: 10px;
  transition: var(--main-transition);
  color: white !important;
}

.main-btn:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none !important;
}

.bg-main {
  background-color: var(--main-color);
}
/* ends of global */
/* navbar */
.navbar-nav a {
  color: white;
}
.navbar-nav a:hover,
.navbar-nav a.active,
.navbar-nav a:active,
.navbar-nav a:focus,
.navbar-nav .show > .nav-link {
  color: #005f79 !important;
  transition: var(--main-transition);
}

.navbar select:focus {
  outline: none;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
.collapse {
  transition: var(--main-transition);
}
@media (min-width: 767px) {
  .navbar-btn.main-btn {
    margin-right: unset !important;
    margin-left: unset !important;
  }
}
/* ends of navbar */

/* footer */
footer a:hover {
  color: #005f79 !important;
  transition: var(--main-transition);
}
@media (max-width: 576px) {
  footer {
    text-align: center !important;
  }
  .footer-social {
    justify-content: center;
  }
}
/* end of the footer */
