:root {
  --main-color: #0e1d27;
  --secondary-color: #30a5bf;
  --bs-border-color: #30a5bf !important;
  --secondary-color-hover: #1898b5;
  --yellow-color: #f2be22;
  --main-transition: 0.3s;
}
/* global */
.text-yellow {
  color: var(--yellow-color);
}
.bg-yellow {
  background-color: var(--yellow-color);
}
.bg-main-color {
  background-color: var(--main-color);
}

.main-btn {
  display: block;
  font-weight: 600;
  width: fit-content;
  background-color: var(--secondary-color);
  border: none;
  padding: 7px 20px;
  border-radius: 4px;
  transition: var(--main-transition);
  color: white !important;
}

.main-btn:hover {
  transform: scale(1.05);
}

section {
  margin-top: 60px !important;
  margin-bottom: 0px !important;
}

a {
  text-decoration: none !important;
}
h3 {
  font-weight: bold !important;
}

.bg-main {
  background-color: var(--main-color);
}
@media (min-width: 1400px) {
  .container {
    max-width: 90% !important;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}
/* ends of global */
/* navbar */
.navbar-height {
  height: 70px;
}

.navbar-nav a {
  color: white;
}
.navbar-nav a:hover,
.navbar-nav a.active,
.navbar-nav a:active,
.navbar-nav a:focus,
.navbar-nav .show > .nav-link {
  color: #005f79 !important;
  transition: var(--main-transition);
}

.navbar select:focus {
  outline: none;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
.collapse {
  transition: var(--main-transition);
}
.nav-link svg {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
@media (min-width: 767px) {
  .navbar-btn.main-btn {
    margin-right: unset !important;
    margin-left: unset !important;
  }
}
/* ends of navbar */

/* hero */
.bg-hero-img {
  background-image: url("../assets/hero.jpg");
  background-position: center right;
  background-size: cover;
  position: relative;
}
@media (max-width: 576px) {
  .bg-hero-img {
    background-image: url("../assets/hero-small.png");
    background-position: center;
  }
}

.bg-hero-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
/* end of hero */
/* deploma courses */
.deploma-course-card {
  max-width: 350px !important;
}
.deploma-course-card:hover {
  background-color: var(--yellow-color);
  transition: var(--main-transition);
}
.deploma-course-card:hover * {
  color: white !important;
}

.deploma-course-card h5 {
  color: initial;
}
.deploma-course-card p {
  color: #7d7d7d;
}
/* end ofdeploma courses */

@media (max-width: 767px) {
  .mobile-disappeare {
    display: none;
  }
}

/* why tech mind */
.why-tech-mind-ul {
  margin-left: 11px !important;
}
.why-tech-mind-ul li {
  position: relative;
  list-style: none;
}
.why-tech-mind-ul li:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 135%;
  top: 0;
  left: -30px;
  background-color: var(--secondary-color);
  z-index: -5;
}
.why-tech-mind-li-ball {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: -5px;
  left: -46px;
}
.why-tech-mind-ul li[title="false"]:not(:last-child)::after {
  right: -30px !important;
  left: unset;
}
.why-tech-mind-ul li[title="false"] .why-tech-mind-li-ball {
  right: -47px;
  left: unset;
}

@media (max-width: 576px) {
  .why-tech-mind-ul li:not(:last-child)::after {
    left: -20px;
  }
  .why-tech-mind-li-ball {
    left: -37px;
  }
  .why-tech-mind-ul li[title="false"]:not(:last-child)::after {
    right: -23px !important;
    left: unset;
  }
  .why-tech-mind-ul li[title="false"] .why-tech-mind-li-ball {
    right: -40px;
    left: unset;
  }
}
/* end of why tech mind */
/* start stats */
@media (max-width: 576px) {
  .stats-icons {
    flex-wrap: wrap;
  }
}
/* end of stats */

/* faq */
/* 
.faq-a.closed {
  opacity: 0;
  margin: 0 !important;
  z-index: -20222;
}
.faq-a {
  max-height: 0 !important;
  transition: var(--main-transition);
  overflow: hidden;
}
.faq-a.opend {
  max-height: 100% !important;
} */

/* end of faq */

/*  */
.course-slider-image {
  width: 230px;
}
@media (max-width: 576px) {
  .course-slider-image {
    width: 180px;
  }
}
/*  */
/* footer */
footer a:hover {
  color: #005f79 !important;
  transition: var(--main-transition);
}
.footer-social-icon {
  padding: 3.5px 5px;
}
@media (max-width: 576px) {
  .footer-logo {
    width: 135px;
  }
  .footer-logo-text.text-white {
    font-size: 18px !important;
  }
  .footer-contact-text {
    font-size: 14px;
  }
}
/* end footer */

/* overview */
.overview-list {
  border: 1px dashed #30a5bf;
  overflow: hidden;
}
.overview-list li:not(:last-child) {
  border-bottom: 1px dashed #30a5bf;
}
@media (max-width: 767px) {
  .overview-list li:nth-child(odd) {
    border-right: 1px dashed #30a5bf;
  }
  .overview-list li:nth-child(3) {
    border-bottom: none;
  }
}
.overview-list li .rounded-circle {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0px;
  width: 44px;
  height: 44px;
}
.overview-list li .rounded-circle svg {
  font-size: 20px;
}
.overview-img {
  object-fit: cover;
  height: 300px;
}
/* end overview */

.loading {
  position: absolute;
  /* background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-position: center right; */
  background-color: white;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > span {
  z-index: 20;
}
.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
