/* popup */
.reservation-layout {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #353535e3;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  z-index: -500;
  opacity: 0;
}
.reservation-popup .x-icon {
  color: black;
  position: absolute;
  right: 20px;
}
.reservation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  cursor: default;
  background-color: white;
  z-index: 19456;
}
@media (max-width: 767px) {
  div.reservation-popup {
    width: 100%;
    top: calc(50% + 35px);
  }
  div.reservation-slider {
    position: unset !important;
    margin-top: 25px;
    width: 100%;
    border-radius: 0 !important;
    font-size: 12px;
    background-color: #0e1d27;
  }
  .swiper-pagination {
    bottom: 26px !important;
  }
}
.reservation-popup input {
  border-color: #8c8c8c;
}
.reservation-popup input:focus {
  border-color: black;
}
.reservation-slider {
  width: 315px;
  bottom: 38px;
  font-size: 12px;
  background-color: #0e1d27;
}
.reservation-slider .swiper-slide {
  padding: 26px 12px !important;
  height: auto;
  line-height: 20px;
  font-size: 13px;
}

.reservation-slider .swiper-pagination-bullet {
  background-color: white;
}
.reservation-slider .swiper-pagination-bullet-active {
  background-color: white;
}
